// TODO
.headerContainer {
  height: 85px;
  border-bottom: solid 1px var(--highlight);
}

.headerContent{
  max-width: 1120px;
  height: 100%;
  margin: 0rem 15rem 0rem;
  padding: 0 2rem;

  display: flex;
  align-items: center;

  img {
    cursor: pointer;
  }

}
